<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="#" crossorigin="anonymous">

<style>

    .interno {
        background-color: white;
        padding: 30px;
        border-right-style: solid;
        border-left-style: solid;
        border-bottom-style: solid;
        text-align: center;
    }

    .title {
        text-align: center;
        background-color: #12AAAB;
        margin-top: 10%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-color: black;
        border-style: solid;
        padding-top: 30px;
        color: white;
    }
</style>

<div class="title">

    <h4><strong><i class="fa fa-sort-numeric-asc"></i> Prova Técnica - Numeros pares de 0 - 100:</strong></h4> <br /><br />
</div>

<div class="interno">

    <label>@ViewBag.Numbers</label>

</div>